.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-3);
  padding-block: var(--spacing-4);

  .brand {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  .icon-container {
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-lg);
    background-color: var(--color-blue-600);
    color: #ffffff;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
  }

  .title {
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: white;
  }

  .subtitle {
    font-size: var(--font-size-xs);
    color: white;
  }
}
